<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Sigm.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Sigm.My.MySettings.foxConnection" connectionString="Provider=vfpoledb.1;Data Source=Z:\DATOS" />
        <add name="Sigm.My.MySettings.DefaultPgsql_disabled" connectionString="Provider=PostgreSQL.1;Data Source=\\MALINGUNVILA;Location=sigmDB;User ID=admin;Password=hf32n64;" />
        <add name="Sigm.My.MySettings.DefaultPgsql_disabled2" connectionString="Provider=PostgreSQL OLE DB Provider;Data Source=\\malingunvila;Location=vrosas;User ID=sigm;password=sigm2013;" />
        <add name="Sigm.My.MySettings.pgsqlODBC2_disabled" connectionString="Dsn=PostgreSQL35W;uid=sigm_admin;pwd=sigm2019." providerName="System.Data.Odbc" />
        <add name="Sigm.My.MySettings.VFP_OleDB_Munici" connectionString="Provider=VFPOLEDB.1;Data Source=z:\datos" providerName="System.Data.OleDb" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog" />
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Sigm.My.MySettings>
            <setting name="AdbConnection" serializeAs="String">
                <value>Provider=Microsoft.ACE.OLEDB.16.0;Data Source=vrosas.accdb</value>
            </setting>
            <setting name="pgsqlCon_disabled" serializeAs="String">
                <value>Provider=PostgreSQL.1;Data Source=\\malingunvila;Location=vrosas;User ID=sigm_admin;password=sigm2019.;</value>
            </setting>
            <setting name="CurrentDB" serializeAs="String">
                <value />
            </setting>
            <setting name="DocFolderHacienda" serializeAs="String">
                <value>\HACIENDA\</value>
            </setting>
            <setting name="DocFolderCatastro" serializeAs="String">
                <value>\CATASTRO\</value>
            </setting>
            <setting name="DocFolderComercio" serializeAs="String">
                <value>\COMERCIO\</value>
            </setting>
            <setting name="DocFolderOprivadas" serializeAs="String">
                <value>\OPRIVADAS\</value>
            </setting>
            <setting name="DocFolderGobierno" serializeAs="String">
                <value>\GOBIERNO\</value>
            </setting>
            <setting name="DocFolderOrdenanza" serializeAs="String">
                <value>\ORDENANZAS\</value>
            </setting>
            <setting name="DocFolderPersona" serializeAs="String">
                <value>\PERSONA\</value>
            </setting>
            <setting name="UserId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrentMenuColor" serializeAs="String">
                <value>Color.DimGray</value>
            </setting>
            <setting name="delete_enabled" serializeAs="String">
                <value>False</value>
            </setting>
        </Sigm.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.ProcessingObjectModel" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.2.0.0" newVersion="15.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
