<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sigm.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Sigm.My.MySettings.DefaultAdbCon" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=vrosas.accdb" />
        <add name="Sigm.My.MySettings.DefaultPgsqlCon" connectionString="Provider=PostgreSQL.1;Data Source=\\MALINGUNVILA;Location=sigmDB;User ID=admin;Password=hf32n64;" />
        <add name="Sigm.My.MySettings.DefaultFoxCon" connectionString="Provider=vfpoledb.1;Data Source=z:\datos" />
        <add name="Sigm.My.MySettings.DefaultPgsqlCon2" connectionString="Provider=PostgreSQL OLE DB Provider;Data Source=\\malingunvila;Location=vrosas;User ID=sigm;password=sigm2013;" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Sigm.My.MySettings>
            <setting name="adbcon" serializeAs="String">
                <value>Provider=Microsoft.ACE.OLEDB.12.0;Data Source=vrosas.accdb</value>
            </setting>
            <setting name="foxcon" serializeAs="String">
                <value>Provider=vfpoledb.1;Data Source=z:\datos</value>
            </setting>
            <setting name="pgsqlcon" serializeAs="String">
                <value>Provider=PostgreSQL.1;Data Source=\\MALINGUNVILA;Location=sigmDB;User ID=admin;Password=hf32n64;</value>
            </setting>
            <setting name="DefaultCon" serializeAs="String">
                <value>Provider=Microsoft.ACE.OLEDB.12.0;Data Source=vrosas.accdb</value>
            </setting>
            <setting name="DocFolderHacienda" serializeAs="String">
                <value>HACIENDA\</value>
            </setting>
            <setting name="DocFolderCatastro" serializeAs="String">
                <value>CATASTRO\</value>
            </setting>
            <setting name="DocFolderComercio" serializeAs="String">
                <value>COMERCIO\</value>
            </setting>
            <setting name="DocFolderOprivadas" serializeAs="String">
                <value>OPRIVADAS\</value>
            </setting>
            <setting name="DocFolderGobierno" serializeAs="String">
                <value>GOBIERNO\</value>
            </setting>
            <setting name="DocFolderOrdenanza" serializeAs="String">
                <value>ORDENANZAS</value>
            </setting>
            <setting name="DocFolderPersona" serializeAs="String">
                <value>PERSONA\</value>
            </setting>
        </Sigm.My.MySettings>
    </userSettings>
</configuration>
